html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  padding: 25px;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.input {
  display: block;
  padding: 16px 15px;
  margin: 15px auto;
  height: 30px;
  width: 230px;
  border: 1px solid hsla(0,0%,100%,.3);
  box-sizing: border-box;
  filter: drop-shadow(3px 8px 8px rgba(0,0,0,.3));
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  outline: transparent;
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  &:focus {
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.loadMore {
  margin: 25px auto;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 50px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-style: none;
  &:hover {
    color: #F5F4FA;
    background-color: #2196F3;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }
}

img {
  display: block;
  box-shadow: 1px 2px 10px 1px black;
  transition: transform 0.4s ease-in-out;
  border-radius: 3%;
  object-fit: cover;
  margin: 10px;
}

.photo-card img:hover {
  transform: scale(1.02);

}
.stats {
  display: flex;
  justify-content: center;
}

.stats-item:not(:last-child) {
  margin-right: 10px;
}

.stats-item {
  display: flex;
  text-align: center;
  margin: 10px 0 20px;
}

.material-icons {
  margin-right: 10px;
}

.gallery {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
